<!-- <div class="layout has-sidebar fixed-sidebar fixed-header">
  <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
    <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
    <div class="image-wrapper">
      <img src="#" alt="sidebar background" />
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <div class="pro-sidebar-logo">
          <div>P</div>
          <h5>Pro Sidebar</h5>
        </div>
      </div>
      <div class="sidebar-content">
        <nav class="menu open-current-submenu">
          <ul>
            <li class="menu-header"><span> GENERAL </span></li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="bi bi-gem"></i>
                </span>
                <span class="menu-title">Components</span>
                <span class="menu-suffix">
                  <span class="badge primary">Hot</span>
                </span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Grid</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Layout</span>
                    </a>
                  </li>
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">Forms</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Input</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Select</span>
                          </a>
                        </li>
                        <li class="menu-item sub-menu">
                          <a href="#">
                            <span class="menu-title">More</span>
                          </a>
                          <div class="sub-menu-list">
                            <ul>
                              <li class="menu-item">
                                <a href="#">
                                  <span class="menu-title">CheckBox</span>
                                </a>
                              </li>
                              <li class="menu-item">
                                <a href="#">
                                  <span class="menu-title">Radio</span>
                                </a>
                              </li>
                              <li class="menu-item sub-menu">
                                <a href="#">
                                  <span class="menu-title">Want more ?</span>
                                  <span class="menu-suffix">&#x1F914;</span>
                                </a>
                                <div class="sub-menu-list">
                                  <ul>
                                    <li class="menu-item">
                                      <a href="#">
                                        <span class="menu-prefix">&#127881;</span>
                                        <span class="menu-title">You made it </span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="bi bi-shop"></i>
                </span>
                <span class="menu-title">E-commerce</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Products</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Orders</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">credit card</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-global-fill"></i>
                </span>
                <span class="menu-title">Maps</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Google maps</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Open street map</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                 <i class="ri-paint-brush-fill"></i>
                </span>
                <span class="menu-title">Theme</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Dark</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Light</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="sidebar-footer">
      </div>
    </div>
  </aside>
  <div id="overlay" class="overlay"></div>
  <div class="layout">
    <main class="content">
      <div>
        <a id="btn-toggle" href="#" class="sidebar-toggler break-point-sm " style="color: brown;">
          <i class="bi bi-pencil-square"></i>
        </a>

      </div>
    </main>
    <div class="overlay"></div>
  </div>
</div> -->

<!-- <div class="container-fluid">

    <div class="row flex-nowrap">
       <ng-container *ngIf="!(router.url.includes('/signin') )">
      <div  [ngClass]="{'slim-mode': slimMode}" class=" container-fluid col-auto col-md-3 col-xl-2 px-sm-2 px-0 bgColor">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 textColor min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto textColor text-decoration-none">
            <span class="fs-5 d-none d-sm-inline"> <i class="bi bi-shop" aria-hidden="true"></i>Admin Panel</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/admin" class="nav-link align-middle px-0">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="ms-1 d-none d-sm-inline textColor" > <i class="bi bi-gem" aria-hidden="true"></i>Dashboard</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link collapsed align-middle px-0" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span class="ms-1 d-none d-sm-inline textColor"> <i class="bi bi-gem" aria-hidden="true"></i> Catalog <i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                <div class="sb-sidenav-collapse-arrow"></div>
              </a>
              <div class="collapse " id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="">
                  <a class="nav-link textColor" routerLink="admin/product"><span class="mx-3 me-1"><i class="bi bi-diamond-half" aria-hidden="true"></i></span>Products</a>
                  <a class="nav-link textColor" routerLink="admin/category"><span class="mx-3 me-1"><i class="bi bi-arrow-return-right" aria-hidden="true"></i></span>Category</a>
                  <a class="nav-link textColor" routerLink="admin/category/addCategory"><span class="mx-3 me-1"><i class="bi bi-flower2" aria-hidden="true"></i></span>addCategory</a>
                  <a class="nav-link textColor" routerLink="admin/product/addproduct"><span class="mx-3 me-1"><i class="bi bi-flower3" aria-hidden="true"></i></span>addProduct</a>
                </nav>
              </div>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link collapsed align-middle px-0" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                <i class="fa fa-cube" aria-hidden="true"></i>
                <span class="ms-1 d-none d-sm-inline textColor"> <i class="bi bi-gem" aria-hidden="true"></i> Orders <i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                <div class="sb-sidenav-collapse-arrow"></div>
              </a>
              <div class="collapse " id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="">
                  <a class="nav-link textColor" routerLink="/admin/Orders"><span class="mx-3 me-1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>All Orders</a>
                  <a class="nav-link textColor" routerLink=""><span class="mx-3 me-1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>New Ordre </a>
                </nav>
              </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/admin/users" class="nav-link align-middle px-0">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="ms-1 d-none d-sm-inline textColor">Users</span>
              </a>
            </li>
          </ul>
          <hr />
  <div class="dropdown pb-4 ">
    <a
      href="#"
      class="d-flex align-items-center textColor text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <img
        src="https://github.com/mdo.png"
        alt="hugenerd"
        width="30"
        height="30"
        class="rounded-circle"/>
      <span class="d-none d-sm-inline mx-1">Admin</span>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
  </div>
     </div>

    <div class="col py-3">
       <div class="text-top"> <button (click)="toggleSlimMode()">Toggle Slim Mode</button>
       </div>
      <router-outlet></router-outlet>
    </div>
     </ng-container>
</div>
</div> -->

  <div class="col py-3">
   <router-outlet></router-outlet>
  </div>



