<!-- <div class="container-fluid">

  <div class="row flex-nowrap">
  <ng-container *ngIf="!(router.url.includes('/signin') )">
    <div  [ngClass]="{'slim-mode': slimMode}" class=" container-fluid col-auto col-md-3 col-xl-2 px-sm-2 px-0 bgColor">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 textColor min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto textColor text-decoration-none">
          <span class="fs-5 d-none d-sm-inline"> <i class="bi bi-shop" aria-hidden="true"></i>Admin Panel</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/admin" class="nav-link align-middle px-0">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span class="ms-1 d-none d-sm-inline textColor" > <i class="bi bi-gem" aria-hidden="true"></i>Dashboard</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link collapsed align-middle px-0" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="ms-1 d-none d-sm-inline textColor"> <i class="bi bi-gem" aria-hidden="true"></i> Catalog <i class="fa fa-arrow-down" aria-hidden="true"></i></span>
              <div class="sb-sidenav-collapse-arrow"></div>
            </a>
            <div class="collapse " id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="">
                <a class="nav-link textColor" routerLink="admin/product"><span class="mx-3 me-1"><i class="bi bi-diamond-half" aria-hidden="true"></i></span>Products</a>
                <a class="nav-link textColor" routerLink="admin/category"><span class="mx-3 me-1"><i class="bi bi-arrow-return-right" aria-hidden="true"></i></span>Category</a>
                <a class="nav-link textColor" routerLink="admin/category/addCategory"><span class="mx-3 me-1"><i class="bi bi-flower2" aria-hidden="true"></i></span>addCategory</a>
                <a class="nav-link textColor" routerLink="admin/product/addproduct"><span class="mx-3 me-1"><i class="bi bi-flower3" aria-hidden="true"></i></span>addProduct</a>
              </nav>
            </div>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link collapsed align-middle px-0" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span class="ms-1 d-none d-sm-inline textColor"> <i class="bi bi-gem" aria-hidden="true"></i> Orders <i class="fa fa-arrow-down" aria-hidden="true"></i></span>
              <div class="sb-sidenav-collapse-arrow"></div>
            </a>
            <div class="collapse " id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="">
                <a class="nav-link textColor" routerLink="/admin/Orders"><span class="mx-3 me-1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>All Orders</a>
                <a class="nav-link textColor" routerLink=""><span class="mx-3 me-1"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>New Ordre </a>
              </nav>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/admin/users" class="nav-link align-middle px-0">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span class="ms-1 d-none d-sm-inline textColor">Users</span>
            </a>
          </li>
        </ul>
        <hr />
<div class="dropdown pb-4 ">
  <a
    href="#"
    class="d-flex align-items-center textColor text-decoration-none dropdown-toggle"
    id="dropdownUser1"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    <img
      src="https://github.com/mdo.png"
      alt="hugenerd"
      width="30"
      height="30"
      class="rounded-circle"/>
    <span class="d-none d-sm-inline mx-1">Admin</span>
  </a>
  <ul
    class="dropdown-menu dropdown-menu-dark text-small shadow"
    aria-labelledby="dropdownUser1">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>
</div>
</div>
   </div>

  <div class="col py-3">
     <div class="text-top"> <button (click)="toggleSlimMode()">Toggle Slim Mode</button>
     </div>
  </div>
   </ng-container>
</div>
</div> -->

<div class="side">
  <ul>
    <li>
      <a href="#" class="logo">
        <img src="assets/logo.png" alt="">
        <span class="nav-item">Welcome{{name}}</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="admin/product">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">Products</span>
      </a>
    </li>
      <!-- <a href="">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">Categories</span>
        <i class="bi bi-chevron-down"></i>
      </a> -->
      <li>
        <a  href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <i class="bi bi-diamond-half" aria-hidden="true"></i>
          <span class="nav-item">Categories</span> <i class="bi bi-chevron-down"></i>
          <div class="sb-sidenav-collapse-arrow"></div>
        </a>
        <div class="collapse " id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="">
            <a  href="admin/category">
              <span class="nav-item"><i class="bi bi-gem" aria-hidden="true"></i></span>Show List</a>
            <a  href="admin/category">
              <span class="nav-item"><i class="bi bi-arrow-return-right" aria-hidden="true"></i></span></a>
          </nav>
        </div>
      </li>
    <li>
      <a href="">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">Orders</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">Users</span>
      </a>
    </li>
    <!-- <li>
      <a href="" class="">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">{{name}}</span>
      </a>
    </li> -->
    <li>
      <a (click)="logout()">
        <i class="bi bi-diamond-half"></i>
        <span class="nav-item">logout</span>
      </a>
    </li>

  </ul>
</div>
