
<!-- .row>.col-md-6{List og Categories}^.col-md-6.text-end>a.btn.btn-link{New Category} -->

<admin-sidebar></admin-sidebar>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>List of Categories</h1>
    </div>

    <div class="col-md-6 text-end">
      <button class="btn btn-info" (click)="toggleForm()"><i class="fa fa-plus-square" aria-hidden="true">  <strong> New Category</strong>  </i> </button>
    </div>

  </div>


  <div class="row vh-50 gradient-custom "  *ngIf="showForm"><!-- show and hide the formulaire ngIf-->
    <div class="col-md-4 mx-auto">
      <form [formGroup]="catForm " (submit)="submit(catForm)" >  <!-- add ngForm  -->
        <div class="form-group ">
          <label for="" class="form-label" for-label="">label</label>
          <input formControlName="label" type="text" name="label" id="label" class="form-control">
        </div>
          <div  class="alert alert-danger" *ngIf="catForm.get('label')?.invalid && (catForm.get('label')?.touched || catForm.get('label')?.dirty)">
            <div *ngIf="catForm.get('label')?.errors?.['required']" > this field is required</div>
            <div *ngIf="catForm.get('label')?.errors?.['minLength']"> this field should be great than 2 caracters </div>
            <div *ngIf="catForm.get('label')?.errors?.['maxLength']" >the max is 40 caracters </div>
          </div>
          <!-- appliquer ngModule pour les inputs avec name obligé -->
          <div class="form-group my-4">
            <label for="" class="form-label" for-label="">ICON</label>
            <input formControlName="icon" type="text" name="icon" id="icon" class="form-control">
          </div>
          <div class="form-group my-4">
            <label for="" class="form-label" for-label="">COLOR</label>
            <input formControlName="color" type="color" name="color" id="color" class="form-control">
          </div>
           <div class="d-grid my-2">
            <button class="my-2 btn btn-info" ><i class="bi bi-send-plus"></i>  Submit</button>
           </div>

        </form>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>LABEL</th>
            <th>ICON</th>
            <th>COLOR</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories" class="table-light  text-center">
            <td>{{category.label}}</td>
            <td style="position: relative; font-size: 40px">
              <i [ngClass]="['bi',category.icon]" [ngStyle]="{'color':category.color}"></i>
            </td>
            <td [ngStyle]="{'background-color':category.color}" class="circle"></td>
            <td class="">
              <button [routerLink]="['/admin/category/edit-category', category._id]"  class="btn btn-outline-warning"><span class="bi bi-pencil-square"></span></button>
       &nbsp;<button  class="btn btn-outline-danger" (click)="deleteCategory(category._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


